p{
    text-align: center; color: 
    yellow;
}
body {
    background: green;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center; color: yellow
}
h2 {
    text-align: center; color: yellow
}
.about {
    text-align: center;
    color: yellow;
}
.projects {
    background: green;
}
.left {
    text-align: left; 
}
.green {
    color: green;
}
.attention {
    font-weight: bold;
}