p {
    text-align: center;
    color: blue;
}
body {
    background: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color: rgb(75, 75, 255);
}
h2 {
    text-align: center;
    color: rgb(75, 75, 255);
}
.about {
    text-align: center;
    color: rgb(75, 75, 255);
}                         
.projects {
    text-align: center;
    color: rgb(75, 75, 255);
}
.attention {
    font-weight: bold;
}

img {
    width: 400px;
    height: 250px;
    object-fit: cover;
}
.projects {
    text-align: center;
    color: rgb(75, 75, 255);
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card {
    background: rgb(100, 100, 100);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}